body{
    margin: 0;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
    
}
.head{
    background-color: lightgray;
    height:8vh;
    width: 100%;
    margin-bottom: 2vh;

}
.sec{
    background-color:red;
    height: 50%;
    width: 70%;
}
.art{
    background-color:orange;
    height: 50%;
    width: 70%;
}
.side{
    background-color:yellow;
    height: 100%;
    width: 30%;
}
.foot{
    background-color:lightgray;
    height:8vh;
    width: 100%;
    margin-top:2vh;
}

@media(max-width:786px){
    .sec{
        width:50%;
    }
    .art{
        width:50%;
    }
    .side{
        width: 50%;
    }
}
@media(max-width:375px) {
    .main{
        display: flex;
        flex-wrap: wrap;
        height: 80vh;
        width: 100%;
        
    }
    .sec{
        height:27vh;
        width:100%;
    }
    .art{
        height:27vh;
        width:100%;
    }
    .side{
        height:26vh;
        width:100%;
    }
    
}














