body{
    margin:0;
}

.head{
    background-color: lightgrey;
    height:9vh;
    width: 100%;
    margin-bottom: 1vh;
}
.main{
    display: flex;
    height: 80vh;
    width: 100%;
}
.sec{
    background-color: green;
    width: 30%;
    height:100%;

}
.art{
    background-color:lightgreen;
    width: 70%;
    height:100%;
}
.side{
    background-color:yellow;
    width: 30%;
    height:100%;
}

.foot{
    background-color: lightgrey;
    height:9vh;
    width: 100%;
    margin-top:1vh;
}

@media(max-width:768px){
    .main{
        display: flex;
        flex-wrap:wrap;
        height: 80vh;
        width:100%;
    }
    .sec{
        background-color:lightgreen;
        width:100%;
        height:60%;
    
    }
    .art{
        background-color:green;
        width: 50%;
        height:40%;
    }
    .side{
        background-color:yellow;
        width: 50%;
        height:40%;
    }

}
@media(max-width:375px){
    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sec{
        background-color:lightgreen;
        width:100%;
        height:50%;
    
    }
    .art{
        background-color:green;
        width: 100%;
        height:25%;
    }
    .side{
        background-color:yellow;
        width: 100%;
        height:25%;
    }
}